h1 {
  color: gray;
}

p {
  color: gray;
}

h2 {
  color: gray;
}

h3 {
  color: gray;
}

body {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container {  position: relative;}

.container:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(https://media.giphy.com/media/HRHLww0g5LVhC/giphy.gif);
    opacity: 0.5;
}

.content {
    position: relative;
    z-index: 2;
    }
